.bottom {
  flex: 1;
  align-items: flex-end;
  padding: 20px;
  margin-top: auto;
  border-top: 1px solid #dddddd35;
  form {
    display: flex;
    align-items: center;
    gap: 50px;
    .messageInput {
      padding: 20px;
      border: none;
      border-radius: 10px;
      width: 80%;
      background-color: black;
      color: white;
      font-size: 18px;
    }
    .emoji {
      position: relative;
      .emojiPicker {
        position: absolute;
        bottom: 50px;
        right: 10px;
      }
    }
    .sendButton {
      border: none;
      background-color: skyblue;
      padding: 15px;
    }
  }
}
