.contactList {
  p {
    padding: 10px;
  }
  .list {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd35;
    border-top: 1px solid #dddddd35;

    .user {
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      padding: 20px;
      border-bottom: 1px solid #dddddd35;

      img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        object-fit: cover;
      }
      .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        span {
        }
        p {
          font-size: 14px;
          font-weight: 300;
          margin: 0px;
        }
      }
    }
    .user:hover {
      background-color: #333;
    }

    /* Selected style */
    .user.selected {
      background-color: #222;
    }
  }
}
